.buttons {
  &--container {
    margin: auto;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;

    // margin: 0 auto;

    .timer-button {
      width: 100%;
      margin-top: 0;
    }

    // .start-pause-button--container,
    // .clear-button--container {
    // }

    @include md {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
  }
}
