.header {
  &--container {
    display: flex;

    justify-content: center;
    align-self: center;
    text-align: center;

    @include md {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
    }
  }
}
